.heroBanner {
    text-align: center;
    background-color: #A6A7AA;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%
}

.containerS {
    margin-left: 8rem;
    margin-right: 5rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%
}

.hero__title{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    padding: 0.3rem;
    font-weight: 800;
    font-size: 4rem;
    color:#FFFFFF;
}

.hero__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#FFFFFF;
}

.pSobre{
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1rem;
}

.Sobre img{
    text-align: center;
    margin-left: 3rem;
    padding-left: 3rem;
    size: 3rem;
}

.Atividades img{
    text-align: center;
    size: 3rem;
    margin-right: 3rem;
    padding-right: 3rem;
}

.h2Gepdai{
    color: #827EB1;
}

.Info img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 18rem;
    max-height: 18rem;
    width: 18vw;
    height: 18vw;
}

.Icons img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 2rem;
    max-height: 2rem;
    width: 9vw;
    height: 9vw;
}