/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans);
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.blogPostTitle {
  font-size: 3rem;
}

.blogPostTitle:hover{
  color: salmon
}

.blogPostDate {
  font-size: 0.9rem;
}

h3{
  background: #f1f1f1;
  color: #000000;
}

h2{
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.1em;
}

.button {
    background-color: #3448af;
    border: none;
    color: white;
    padding: 0.4rem 0.4rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.2rem 0.2rem;
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    cursor: pointer;
}


.tag {
    background: none;
    color: white;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding-left: .1rem;
    padding-right: .1rem;
    text-align: center;
}

.tag:hover {
    
    color: white;
    border-radius: 0;
    

}

.tag a{
  background-color: #FF4D70;
  padding: .4rem;
  
  align-items: center;
        
}

.tag a:hover{
  background-color: #f1f1f1;
}
.tipo_publicacao {
    margin: auto;
    background-color: #3448af;
    color: white;
    border-radius: 0px;
    width: 75%;
    border: 0;
}



.tipo_publicacao:hover {
    background-color: #CCD3F7;
    color: black;
    border-radius: 0;

}

.info{
  text-align: center;
}

/* conteudo */
img {
  width: 100%;
}

body {
  font-weight: 400;
  font-size: 1em;
  font-family: "Montserrat";
}

.tag a {
  outline: none;
  color: inherit;  
  text-decoration: none;
}

.tag a:hover,
a:focus {
  color: #FF4D70;
}

a:-webkit-any-link {
    color: none;
    cursor: pointer;
    text-decoration: none;
}


.grid {
  display: block;
  margin: 0 auto;
  width: 98%;
  padding-left: 0;
  font-size: 0;
  text-align: center;
}


.grid figure {
  margin: 0.1em;
  max-width: 30rem;
  width: 85vw;
  max-height: 30rem;
  height: 85vh;
  background: #3085a3;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-align: center;
  grid-template-columns: 3 auto;
  grid-gap: 2rem;
  padding: 0.1rem;
  background: #FFF;
}

/* Common style */
.grid figure img {
  position: relative;
  display: block;
  opacity: 0.8;
  height: 100%;
  max-height: 30rem;
  width: 100%;
  max-width: 100%;
  @media(max-width: 1260px) {
    height: 100%;

  }
}

.grid figure figcaption {
  color: #2d434e;
  font-size: 1.1rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figcaption h2 {
  text-transform: uppercase;
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 1em;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 1em;
}

.grid figure h2 span {
  font-weight: 800;
}

figure.effect_steve {
  z-index: auto;
  background: #f1f1f1;
}

figure.effect_steve:before {
  box-shadow: 0 0.3rem 1.9rem rgba(0, 0, 0, 0.8);
  opacity: 0;
}

figure.effect_steve figcaption {
  z-index: 1;
}

figure.effect_steve img {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
  transform: perspective(1000px) translate3d(0, 0, 0);
}

figure.effect_steve h2,
figure.effect_steve p {
  background: #f1f1f1;
  color: #2d434e;
}

figure.effect_steve h2 {
  position: absolute;
  /* top: 4px */
  padding: 0.1em;
  bottom: 0.5rem;
  width: 100%;
}

figure.effect_steve p {
  margin-top: 1em;
  padding: 0.5em;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
}

figure.effect_steve:hover:before {
  opacity: 1;
}

figure.effect_steve:hover img {
  -webkit-transform: perspective(62.5rem) translate3d(0, 0, 1.3rem);
  transform: perspective(62.5rem) translate3d(0, 0, 1.3rem);
}

figure.effect_steve:hover h2:before {
  opacity: 0;
}

figure.effect_steve:hover p {
  opacity: 1;
}

.grid figure,
figcaption,
img {
  z-index: 0;
}

.grid figure figcaption h2 {
  font-size: 1.5rem;
  margin-bottom: 3.1rem;
  margin-left: 0;
  margin-right: 0;
}

.grid figcaption p {
  font-size: 1rem;
  font-weight: 200;
  position: absolute;
  bottom: 0;
  margin: 0;
  height: 25%;
}

figure:hover h2 {
  background: #f1f1f1;
  transition: transform 0.35s;
  transform: translateY(-2.5em);
}

h1.slogan {
  text-align: center;
  background-color: #2d434e;
  font-weight: 300;
  margin: 0;
}

.equipe img{
  border-radius: 100%;
}
