/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

 * {
  box-sizing: border-box;
}

 .blogpost{
    display: contents;
    flex: 0 0 var(--ifm-col-width);
    grid-template-columns: auto auto;
    grid-row-gap: 0rem;
    grid-column-gap: 1rem;
    max-width: var(--ifm-col-width);
  }
  a.pagination-nav__link {
      color: #3578e5;
      color: var(--ifm-link-color);
      -webkit-text-decoration: none;
      -webkit-text-decoration: var(--ifm-link-decoration);
      text-decoration: none;
      text-decoration: var(--ifm-link-decoration);
      margin-bottom: 1.2rem;
  }

  .heroBanner {
    padding: 4rem 0;
    text-align: center;

  }

  .grid{
    display: flex;
  }

  .card{
    height: 50vh;
  }
  .tags{
    text-align: center !important;
    padding: 1rem;
    background-color: #FA5C5B;
    margin-top: 10rem;

  }
  .apresentacao{
    width: 70%;
    height: auto;
    padding: 0.2rem;
  }

  .expediente{
    height: auto;
    min-width: 50vw;
    padding: 0.2rem;
  }

  main article{
      padding: 1rem;
    }

  .informacoes{

  }

  .temas{
    text-align: center;
  }

  a {
    margin: 0.16rem;
  }

  media screen and (max-width: 966px) {
    .heroBanner {
      padding: 2rem;
      text-align:center;
    }
  }

conteudo{
  text-align: center;
  margin: auto;
  width: 100%;
  display: inline-grid;
}

article{
  margin: auto;
}

header div{
  margin: auto;
}

header{
  width: 100%;
}

container{
  width: 100%
}