.heroBannerPod {
    padding: 4rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background-color: #A6A7AA; 
  }

  .Sobre {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0;
    
  }

  .imagemSobre img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    max-width: 15rem;
    max-height: 15rem;
    width: 15vw;
    height: 15vw;
    align-items: center;
  }

  .pSobrePod{
    margin-top: 12rem;
  }


  .pEpPod{
    margin-top: 2rem;
    background-color: #c7c7c9;
    padding: 4.5rem;
  }

  .imagemEquipe img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    max-width: 15rem;
    max-height: 15rem;
    width: 15vw;
    height: 15vw;
    align-items: center;
  }

  .pEquipe1{
    margin-top: 2rem;
    background-color: #c7c7c9;
    font: bold;
    color: #53263B;
  }

  .pEquipe2{
    margin-top: 2rem;
    background-color: #CEBFC6;
    color: #53263B;
    align-content: center;
    padding: 0rem;
  }

  .RedesLogo img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    max-width: 3rem;
    max-height: 3rem;
    width: 3rem;
    height: 3rem;
    align-items: center;
  }

  .LogoPod img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    max-width: 20rem;
    max-height: 20rem;
    width: 20rem;
    height: 20rem;
    align-items: center;
  }

  .RedesSociais img{
    text-align: center;
    margin: 0;
    padding: 0rem;
    max-width: 25rem;
    max-height: 25rem;
    width: 25rem;
    height: 25rem;
    align-items: center;
  }

  .Sociais{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0;
  }

  .pSociais{
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    position: relative;
    padding: 0rem 0;
  }