@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');

.heroBanner {
    text-align: center;
    background-color: #706c61;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
}
 
.cBanner{
    text-align: center;
    background-color: #AA6939;
    position: relative;
    overflow: hidden;
}

.pagCor{
    background-color: #f4f3ee ;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 4rem;
    text-align: center;
    width: 100%
}

.containerB {
    margin: 0;
    text-align: center;
    width: 100%;
}

.row{
    margin: 0%;
    width: 1309px;
}

.hero__title{
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    padding: 0.3rem;
    font-weight: 800;
    font-size: 4.6875rem;
    color:#923d37;
  }

.titleConhecimentos{
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0.3rem;
    font-weight: 600;
    font-size: 2.3rem;
    color: #923d37;
    text-transform: uppercase;
}

.hero__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-family: "Gothic A1", sans-serif;
    padding: 0.3rem;
    font-weight: 200;
    font-size: 1.5rem;
    color:#e3e7d3;
}

.subConhecimentos{
    text-align: center;
    font-family: "Yrsa", serif;
    padding: 0.3rem;
    font-weight: 500;
    font-size: 1rem;
    color:#b35f58;
}

.Infos {
    margin-top: 0rem;
    background-color: #D4976A;
  }

.InfosP {
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#FFFFFF;
}

.InfosTitle {
    text-align: center;
    font-family: "Poppins", serif;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#804215;   
}

.pSobreEquipe{
    text-align: justify;
    font-family: "Yrsa", serif;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    color:#706c61; 
  }

.tSobreEquipe{
    margin-top: 4rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
    font-weight: 800;
    font-size: 3rem;
    color:#923d37; 
}

.highlight{
    background: linear-gradient(120deg, #e4a0a1 0%, #e4a0a1 100%);
    background-repeat: no-repeat;
    background-size: 100% 35%;
    background-position: 0 90%;
}

.highlightB{
    background: linear-gradient(120deg, #e4a0a1 0%, #e4a0a1 100%);
    background-repeat: no-repeat;
    background-size: 100% 35%;
    background-position: 0 90%;
}

.highlightC{
    position: relative;
}

.highlightC:before{
    content: "";
    z-index: -1;
    left: -0.5em;
    top: -0.1em;
    border-width: 2px;
    border-style: solid;
    border-color: #e4a0a1;
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1em;
    transform: rotate(2deg);
    opacity: 0.7;
    border-radius: 50%;
    padding: 0.1em 0.25em;
}

.highlightC:after{
    content: "";
    z-index:-1;
    left: -0.5em;
    top: 0.1em;
    padding: 0.1em 0.25em;
    border-width: 2px;
    border-style: solid;
    border-color: #e4a0a1;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1em;
    transform: rotate(-1deg);
    opacity: 0.7;
    border-radius: 50%;
}



.tFooter{   
    margin-top: 4rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    color:#804215; 
}

.pFooter{
    text-align: left;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    padding: 0;
    font-size: 1rem;
    color:#FFFFFF; }

.tEstudos{
    margin-top: 2rem;
    text-align: center;
    font-family: "Poppins", sans-serif;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 2rem;
    color:#923d37; 
}

.tInteresses{
    margin-top: 4rem;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    padding: 0.5rem;
    font-weight: 400;
    font-size: 1rem;
    color: #706c61;
}


.pEstudos{
    text-align: justify;
    font-family: "Yrsa", serif;
    padding: 0rem;
    font-weight: 100;
    font-size: 1rem;
    color:#000000;
  }

.tConhecimentos{
    margin-top: 2rem;
    text-align: center;
    font-family: "Poppins", serif;
    padding: 0.5rem;
    font-weight: 800;
    font-size: 2.3rem;
    color:#804215;
}

.pConhecimentos{
    text-align: center;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    padding: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    color:#f4f3ee; 
  }

.fundo{
    background-color: #CBC9BF;
    margin-bottom: 1rem;
}

.fundo2{
    background-color: #FFCEAA;
}

.fundo3{
    background-color: #FFCEAA;
    margin-bottom: 1.5rem;
}

.Logos{
    margin-left: 4rem;
    width: 45px;
    height: 45px;
    padding: 0.5rem;
}

.Logos2{
    width: 45px;
    height: 45px;
    padding: 0.5rem;
}