.heroBanner {
    text-align: center;
    background-color: #A6A7AA;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%
}

.containerP {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
    width: 100%
}

.hero__title{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    padding: 0.3rem;
    font-weight: 800;
    font-size: 4.6875rem;
    color:#FFFFFF;
}

.hero__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#FFFFFF;
}

.pagCor{
    background-color: #f4f3ee ;
}

.Info img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 25rem;
    max-height: 15rem;
    width: 25vw;
    height: 15vw;
}

.InfoP{
    margin-right: 0rem;
}

.pSobre{
    text-align: justify;
    margin-left: 7rem;
    margin-right: 7rem;
}

.pChamadas{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

.pSobre2{
    text-align: justify;
    margin-left: 7rem;
    margin-right: 7rem;
    color: #FFFFFF;
}

.pParticipar{
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
}

.pTipos{
    text-align: start;
    position: fixed;
}

.Sobre{
    background-color: #348EFA;
    margin-top: 0rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 0rem;
}

.SobreI{
    background-color: #348EFA;
    margin-top: 0rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}

.Participar{
    background-color: #FA5C5B;
    margin-top: 0rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}