@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Metamorphous&family=PT+Serif&display=swap');

.heroBanner{
    text-align: center;
    background-color: #80846E;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
}

.cBanner{
    text-align: center;
    background-color: #77089C;
    position: relative;
    overflow: hidden;
}

.pagCor{
    background-color: #AAB092 ;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    margin-top: 4rem;
    text-align: center;
    width: 100%
}


.containerB {
    margin: 0;
    text-align: center;
    width: 100%;
}

.row{
    margin: 0%;
    width: 1309px;
}

.hero__title{
    text-align: center;
    font-family: 'Metamorphous', cursive;
    padding: 0.3rem;
    font-weight: 800;
    font-size: 4.6875rem;
    color:#000000;
  }

.titleConhecimentos{
    text-align: center;
    font-family: 'Metamorphous', cursive;
    padding: 0.3rem;
    font-weight: 600;
    font-size: 3rem;
    color: #37089c;
}

.hero__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#000000;
}

.subConhecimentos{
    text-align: center;
    font-family: 'PT Serif', serif;
    padding: 0.3rem;
    font-weight: 500;
    font-size: 1rem;
    color:#565A4B;
}

.Infos {
    margin-top: 0rem;
    background-color: #AAB092;
  }

.InfosP {
    text-align: center;
    font-family: 'PT Serif', serif;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#565A4B;
}

.InfosTitle {
    text-align: center;
    font-family: 'PT Serif', serif;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#37089c;   
}

.pSobreEquipe{
    text-align: justify;
    font-family: 'PT Serif', serif;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1rem;
    color:#565A4B; 
  }

.tSobreEquipe{
    margin-top: 4rem;
    text-align: center;
    font-family: 'Metamorphous', cursive;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 3rem;
    color:#37089c; 
}

.tFooter{   
    margin-top: 4rem;
    text-align: center;
    font-family: 'Metamorphous', cursive;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 2rem;
    color:#37089c; 
}

.pFooter{
    text-align: center;
    font-family: 'PT Serif', serif;
    padding: 0.5rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#000000; }

.tEstudos{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Metamorphous', cursive;
    padding: 0.5rem;
    font-weight: 600;
    font-size: 2.3rem;
    color:#37089c; 
}

.tInteresses{
    margin-top: 4rem;
    text-align: center;
    font-family: 'Metamorphous', cursive;
    padding: 0.5rem;
    font-weight: 500;
    font-size: 1rem;
    color: #565A4B;
}


.pEstudos{
    text-align: justify;
    font-family: 'PT Serif', serif;
    padding: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    color:#565A4B; 
  }

.tConhecimentos{
    text-align: center;
    font-family: 'Metamorphous', cursive;
    padding: 0rem;
    font-weight: 600;
    font-size: 2.3rem;
    color:#37089c;
}

.pConhecimentos{
    text-align: center;
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    padding: 0rem;
    font-weight: 400;
    font-size: 1.2rem;
    color:#565A4B; 
  }

.fundo{
    background-color: #AAB092;
    margin-bottom: 1rem;
}

.fundo2{
    background-color: #AAB092;
    margin-bottom: 1rem;
}

.fundo3{
    background-color: #80846E;
    margin-bottom: 1.5rem;
}

.Logos{
    margin-left: 6.5rem;
    width: 45px;
    height: 45px;
    padding: 0.5rem;
}

.Logos2{
    width: 45px;
    height: 45px;
    padding: 0.5rem;
}