/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 html{
   box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
     box-sizing: inherit;
 }


 .container {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  margin-top: 4rem;
  text-align: center;


}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  /* background-color: #A6A7AA; */
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

h1 {
    text-align: center;
    margin: 2.7rem 0;
}

.container {
    width: 75%;
    margin: 0 auto;

}

.equipe img{
  opacity: 0.9;

}
.equipe img:hover{
  transform: scale(1.1);
  transition: transform .2s;
}

img:hover {
  opacity: 1.0;

}

.mid h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
}

.mid h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
}

.top h2 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 20px;
  font-size: 1rem;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 1.5rem;
  left: -29rem;
  font-weight: 900;
}

h1, h2, h3, h4, h6{
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
}

main p{
  text-align: justify;
}

/* .hero__title{
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
  font-weight: 800;
  font-size: 3rem;
  color:#FFFFFF;
} */ 

.hero__title img{
  margin: 0;
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  width: 15vw;
  height: 15vw;
  /* background-image: url("/static/img/equipe/andrey.jpg") */
}

.hero__subtitle{
  text-align: center;
}

.hero__subtitle{
  text-align: center;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  padding: 0.3rem;
  font-style: italic;
  font-weight: 600;
  font-size: 1.5rem;
  color:#FFFFFF;
}

.redes_sociais{
  display: inline-block;

}

.redes_sociais img {
    height: 3rem;
    width: 3rem;
    padding: 0.3rem;

}

redesSociais{
  display: inline-block;
  text-align: left;

}

.redesSociais img {
  text-align:left;

    height: 3rem;
    width: 3rem;
    padding: 0.3rem;

}

.projetos{
  width: 90%;
  background: #DEDFE1;
  margin: auto;
  border-radius: 0;
  padding: 1rem;
}

.Projeto{
 text-align: center;
 border: 0.2rem solid white;
 margin: 1rem;


}

.imagemProjeto{
    margin: auto;
}

.imagemProjeto img{
  margin: 0;
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  width: 15vw;
  height: 15vw;

}

.projetoTexto{
  text-align: center;
  width: 100%;
  font-weight: normal;
  padding: 1rem;
  margin-bottom: 1rem;

}

.projetoTexto h2{
  font-size: 1.5rem;
}

.projetoTexto a {
  margin: auto;
}

.projetoTexto p {
  color: black;
  font-size: 1.2rem;
}

.heroBannerPod {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #A6A7AA; 
}

.sobre_pod{
  padding: 1rem;
  column-count: 2;
}

.sobre_pod img{
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 25vh;
  width: 30vw;
}

.sobre_box{
  padding: 1rem;
}

.sobre_box p {
  text-align: justify;
  line-height: 2;
}

.sobre_box a   {
  outline: none;
  color: #348EFA; 
  text-decoration: none;
} 

.sobre_box h4 {
  font-weight: 900;
  text-align: justify;
  font-size: 1.2rem;
}

.equipe{
  text-align: center;
  padding-top: 2rem;
}

.imagem_equipe{
  border-radius: 100%;
  text-align: center;
  max-width: 10rem;
  max-height: 10rem;
  width: 35vw;
  height: 35vw;
  margin: auto;
  margin-bottom: 4rem;
}

.equipe h3{
  padding: 1rem;
}

.equipe small{
  padding: 0.5rem;
  font-weight: 600;
}

.exMembro{
  display: inline-grid !important;
  text-align: center !important;
  width: 33%;
  padding: 2rem;
  margin: auto;
}

.exMembroFoto{
  text-align: center;
}

.exMembro_info{
  text-align: center;
}
.exMembroFoto img{
  width: 18vw;
  height: 18vw;
  border-radius: 100%;
  max-width: 18rem;
  max-height: 18rem;
}

.membro{
  padding: 0rem;
  margin-bottom: 5rem;
}

.membro img{
  width: 3.5rem;
  height: 3.5rem;
}

.foto_perfil img{
  width: 40vw;
  height: 40vw;
  max-width: 20rem;
  max-height: 20rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

header h1{
  color: auto;
}

.doc{
  background: #FA5C5B;
}

header div p{
  text-align: center;
}

.card__body p{
  color: black;
}

.membro_info img{
  width: 3rem;
  height: 3rem;
}

.info{
  margin-top: 1rem;
  height: 37rem;
  position: relative;
}

.info button{
  position: relative;
  bottom: 0

}

.noticiasRevista{
  background-color: #60A5E0;

}
.noticiasImg img{
  padding: 1rem;
  max-width: 20rem;
  max-height: 20rem;
  height: 25vh;
  width: 30vw;
}


.docsLabri{
  background: #FA5C5B;
  padding: 2rem;
}

.docsLabri p {
color: black
}

.docsLabri h3 {
  padding: 2rem;
}

.imagemInfo{
  margin: auto;
}
.docsLabri img{
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 25vh;
  width: 30vw;

}
.imagemInfo img{
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 25vh;
  width: 30vw;

}

.sobreEstagioProjetos img{
  padding: 1rem;
  max-width: 15rem;
  max-height: 15rem;
  height: 25vh;
  width: 30vw;
}



/* .equipe h6, .equipe h4, .equipe p, .equipe small {
  color: black;
} */

.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    padding: 0;
    width: 25rem;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    margin: auto;
}

.tipos_projeto{
  align-items: baseline!important;
  padding: 4rem;
  margin-top: 5rem;
}

.img_align{
  margin: auto;
  width: 50%;
  
  
}
.img_align .button{
  text-align: center;
}

.categoria_projeto{
  text-align: justify;
}

   