.heroBanner {
    text-align: center;
    background-color: #B6B6DE;
    padding: 4rem 0;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%
}

.containerM {
    margin-left: 8rem;
    margin-right: 5rem;
    margin-bottom: 0rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%
}

.containerT {
    margin-left: 11rem;
    margin-right: 5rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.containerP {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-align: center;
    width: 100%
}

.hero__title{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    padding: 0.3rem;
    font-weight: 800;
    font-size: 2rem;
    color:#FFFFFF;
}

.hero__subtitle{
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    padding: 0.3rem;
    font-weight: 300;
    font-size: 1.5rem;
    color:#FFFFFF;
}

.pagCor{
    background-color: #f4f3ee ;
}

.Info img{
    text-align: center;
    margin: 0;
    padding: 1rem;
    max-width: 25rem;
    max-height: 15rem;
    width: 25vw;
    height: 15vw;
}

.InfoP{
    margin-right: 0rem;
}

.pSobre{
    text-align: justify;
    margin-left: 7rem;
    margin-right: 7rem;
}

.pSobre2{
    text-align: center;
    margin-left: 7rem;
    margin-right: 7rem;
}

.pTutorial{
    text-align: center;
    margin-left: 10rem;
    margin-right: 0rem;
}

.pChamadas{
    text-align: justify;
    margin-left: 1rem;
    margin-right: 1rem;
}

.pSobre2{
    text-align: justify;
    margin-left: 7rem;
    margin-right: 7rem;
    color: #FFFFFF;
}

.pParticipar{
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
}

.pTipos{
    text-align: start;
    position: fixed;
}

.Sobre img{
    text-align: center;
    margin-left: 3rem;
    padding-left: 3rem;
    size: 3rem;
}

.pSobre{
    text-align: justify;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1rem;
}

.SobreI{
    background-color: #348EFA;
    margin-top: 0rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}

.Participar{
    background-color: #FA5C5B;
    margin-top: 0rem;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 2rem;
}

.outraCor{
    color: #B6B6DE
}

.h1Text{
    margin-top: 2rem;
    margin-bottom: 0;
    font-size: 3rem;
}

.highlight{
    margin-top: 2rem;
    margin-bottom: 0;
    background: linear-gradient(120deg, #B6B6DE 0%, #B6B6DE 100%);
    background-repeat: no-repeat;
    background-size: 10% 35%;
    background-position: 50% 90%;
}

.highlightB{
    margin-bottom: 1rem;
    background: linear-gradient(120deg, #B6B6DE 0%, #B6B6DE 100%);
    background-repeat: no-repeat;
    background-size: 95% 35%;
    background-position: 50% 80%;
    font-size: 1.3rem;
}

.highlightC{
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    background: linear-gradient(120deg, #B6B6DE 0%, #B6B6DE 100%);
    background-repeat: no-repeat;
    background-size: 50% 85%;
    background-position: 50% 110%;
}

.highlightD{
    margin-bottom: 1rem;
    background: linear-gradient(120deg, #B6B6DE 0%, #B6B6DE 100%);
    background-repeat: no-repeat;
    background-size: 48% 35%;
    background-position: 50% 70%;
    font-size: 1.5rem;
}

.highlightE{
    margin-bottom: 1rem;
    background: linear-gradient(120deg, #B6B6DE 0%, #B6B6DE 100%);
    background-repeat: no-repeat;
    background-size: 85% 35%;
    background-position: 50% 70%;
    font-size: 1.1rem;
}

.highlightF{
    margin-bottom: 1rem;
    background: linear-gradient(120deg, #B6B6DE 0%, #B6B6DE 100%);
    background-repeat: no-repeat;
    background-size: 18% 35%;
    background-position: 50% 70%;
    font-size: 1.5rem;
}

.highlightG{
    margin-bottom: 1rem;
    background: linear-gradient(120deg, #B6B6DE 0%, #B6B6DE 100%);
    background-repeat: no-repeat;
    background-size: 85% 35%;
    background-position: 50% 70%;
    font-size: 1.5rem;
}

.highlightH{
    margin-bottom: 1rem;
    background: linear-gradient(120deg, #B6B6DE 0%, #B6B6DE 100%);
    background-repeat: no-repeat;
    background-size: 15% 35%;
    background-position: 50% 70%;
    font-size: 2rem;
}